$body-bg: rgb(29, 29, 29);
$body-color: white;
$primary: lightgrey;

$font-family-sans-serif: 'Poppins', sans-sefif;

@import '../node_modules/bootstrap/scss/bootstrap';

html
{
    scroll-behavior: smooth;
    //height:2500px;
}

.navbar-collapse 
{
    justify-content: flex-end;
}

@media (min-width: 992px)
{
    .navbar-expand-lg .navbar-nav .nav-link 
    {
        padding-right: 1.5rem;
        padding-left: 1.5rem;
    }
}

.custombg
{
    background: black url('../assets/abstract.jpg');
    background-size: cover;
}

.carousel-item
{
  height:36rem;
  position: relative;
  background-position: center;
  background-size: cover;
  margin-top: 15px;
  //margin-left: auto;
  //margin-right: auto;
}

.carouselContainer
{
   position: absolute;
   bottom: 0;
   left: 0;
   right: 0;       
   padding-bottom: 50px;
   text-align: center;
}

// .cardKitchenRack
// {
//     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
//     background-color: rgb(39, 39, 39);
//     max-width: 300px;
//     position: absolute;
//     left: 20px;
//     //margin: auto;
//     text-align: center;
//     font-family: arial;
//     padding-top: 10px;
// }

// .cardCoolerBag
// {
//     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
//     background-color: rgb(39, 39, 39);
//     max-width: 300px;
//     position: absolute;
//     //margin: auto;
//     text-align: center;
//     font-family: arial;
//     padding-top: 10px;
// }

// .price 
// {
//     color: grey;
//     font-size: 22px;
// }

// .card button 
// {
//     border: none;
//     outline: 0;
//     padding: 12px;
//     color: white;
//     background-color: #000;
//     text-align: center;
//     cursor: pointer;
//     width: 100%;
//     font-size: 18px;
// }

// .card button:hover 
// {
//      opacity: 0.7;
// }

#footer 
{
    position: fixed;
    padding: 10px 10px 0px 10px;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    width: 100%;
    /* Height of the footer*/ 
    height: 40px;
    background: rgb(39, 39, 39);
}

.columnAboutUs {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
  }
  
  .cardAboutUs {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: rgb(39, 39, 39);
    margin: 8px;
    //margin-inline-end: 20px;
    //margin-inline-start: 20px;
    padding-top: 15px;
    text-align: center;
    box-shadow: 10px 10px 30px rgba(255, 255, 255, 0.1);
  }

  .card__imageAboutUs{
      width: 100%;
      height: 150px;
      object-fit: scale-down;
  }
  
  .about-section {
    padding: 50px;
    text-align: center;
    background-color: #474e5d;
    color: rgb(39, 39, 39);
  }
  
  .containerAboutUs {
    padding: 0 16px;
  }
  
  .containerAboutUs::after, .row::after {
    content: "";
    clear: both;
    display: table;
    display:flex;
    flex-direction:row;
    flex: row;
  }
  
  .titleAboutUs {
    color: grey;
  }
  
  .buttonAboutUs {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: rgb(255, 255, 255);
    background-color: rgb(29, 29, 29);
    text-align: center;
    cursor: pointer;
    width: 100%;
  }
  
  .buttonAboutUs:hover {
    background-color: grey;
  }
  
  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
}

    .productContainer {
        padding: 3em;
        display: grid;
        grid-gap: 2em;
        //line below determines how many product boxes per row
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

        .card__productPage{
            width: 100%;
            height: 150px;
            object-fit: scale-down;
        }

        .productBox {
            padding: 2em;
            border-radius: .3em;
            box-shadow: 10px 10px 30px rgba(255, 255, 255, 0.1);
            background-color: rgb(39, 39, 39);
        }

        //change this to ".productImage" when ready to add in products
        p {
            margin-top: 0;
        }

        .buttonProductPage {
            border: none;
            outline: 0;
            display: inline-block;
            padding: 8px;
            color: rgb(255, 255, 255);
            background-color: rgb(29, 29, 29);
            text-align: center;
            cursor: pointer;
            width: 100%;
            position: bottom;
          }
          
          .buttonProductPage:hover {
            background-color: grey;
          }

        span {
            font-weight: bold;
            position: relative;
            margin-left: 15px;

            &:before {
                content: '';
                position: absolute;
                height: 1px;
                width: 10px;
                border-bottom: 1px solid rgb(255, 252, 252);//this line is the hyphen
                top: 10px;
                left: -15px;
            }
        }
    }

    @media (min-width: 550px) {

    }
