$body-bg: rgb(29, 29, 29);
$body-color: white;
$primary: lightgrey;

$font-family-sans-serif: 'Poppins', sans-sefif;

@import '../node_modules/bootstrap/scss/bootstrap';

html
{
    scroll-behavior: smooth;
}

.navbar-collapse 
{
    justify-content: flex-end;
}

@media (min-width: 992px)
{
    .navbar-expand-lg .navbar-nav .nav-link 
    {
        padding-right: 1.5rem;
        padding-left: 1.5rem;
    }
}

.custombg
{
    background: black url('../assets/abstract.jpg');
    background-size: cover;
    box-shadow: 10px 10px 30px rgba(255, 255, 255, 0.1);
}

.carousel-item
{
  height:36rem;
  position: relative;
  background-position: center;
  background-size: cover;
  margin-top: 15px;
}

.carouselContainer
{
   position: absolute;
   bottom: 0;
   left: 0;
   right: 0;       
   padding-bottom: 50px;
   text-align: center;
}

#footer 
{
    position: fixed;
    padding: 10px 10px 0px 10px;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    width: 100%;
    /* Height of the footer*/ 
    height: 40px;
    background: rgb(39, 39, 39);
}

.aboutUsContainer {
  padding: 3em;
  display: grid;
  grid-gap: 2em;
  //line below determines how many product boxes per row
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

  .card__AboutUs{
      width: 100%;
      height: 150px;
      object-fit: scale-down;
      padding-top: 12px;
  }

  .aboutUsBox {
      border-radius: .3em;
      box-shadow: 10px 10px 30px rgba(255, 255, 255, 0.1);
      background-color: rgb(39, 39, 39);
  }

  //Product Name
  p {
      margin-top: 0;
      font-size: 20px;
      text-align: center;
  }

  .buttonAboutUs {
      border: none;
      outline: 0;
      display: inline-block;
      padding: 8px;
      color: rgb(255, 255, 255);
      background-color: rgb(29, 29, 29);
      text-align: center;
      cursor: pointer;
      width: 100%;
      position: relative;
      bottom: 0;
    }
    
    .buttonAboutUs:hover {
      background-color: grey;
    }

  span {
      text-align: center;
  }
}

    .productContainer {
        padding: 3em;
        display: grid;
        grid-gap: 2em;
        //line below determines how many product boxes per row
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

        .card__productPage{
            width: 100%;
            height: 150px;
            object-fit: scale-down;
            padding-top: 12px;
        }

        .productBox {
            border-radius: .3em;
            box-shadow: 10px 10px 30px rgba(255, 255, 255, 0.1);
            background-color: rgb(39, 39, 39);
        }

        //Product Name
        p {
            margin-top: 0;
            font-weight: bold;
            font-size: 18px;
        }

        .buttonProductPage {
            border: none;
            outline: 0;
            display: inline-block;
            padding: 8px;
            color: rgb(255, 255, 255);
            background-color: rgb(29, 29, 29);
            text-align: center;
            cursor: pointer;
            width: 100%;
            position: relative;
            bottom: 0;
          }
          
          .buttonProductPage:hover {
            background-color: grey;
          }

        span {
            position: relative;
            margin-left: 15px;

            &:before {
                content: "";//this line is the hypen in the product price line
                position: absolute;
                height: 1px;
                width: 10px;
                border-bottom: 1px solid rgb(255, 252, 252);//this line is the hyphen color
                top: 10px;
                left: -15px;
            }
        }
    }

